html{
    scroll-behavior: smooth;
  }
  
  @font-face {
    font-family: Fuente-p;
    src: url(/fonts/Jost-VariableFont_wght.ttf);
  }
  
  body{
    font-family: Fuente-p !important;
  }

  #modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
  }

  #modalEdit {
    border-radius: 10px;
    border: none;
  }

  #modalEdit::backdrop{
    background-color: rgba(0, 0, 0, .55);
  }

  #modalInfo {
    border-radius: 10px;
    border: none;
  }

  #modalInfo::backdrop{
    background-color: rgba(0, 0, 0, .55);
  }

  #modalDispo {
    border-radius: 10px;
    border: none;
  }

  #modalDispo::backdrop{
    background-color: rgba(0, 0, 0, .55);
  }

  #modal{
    border-radius: 10px;
    border: none;
  }

  dialog{
    min-width: 105vh;
  }


  .content{
    min-height: 100vh;
    width: 100%;
  }

  section #calendario{
    max-width: 160vh;
    max-height: 81vh;

  }

  .fc-daygrid-day a {
    color: inherit; /* Usa el color heredado del elemento padre */
    text-decoration: none; /* Elimina la decoración del enlace */
  }

  .fc-col-header-cell-cushion{
    color: inherit; /* Usa el color heredado del elemento padre */
    text-decoration: none; /* Elimina la decoración del enlace */
  }


  


  