html{
    scroll-behavior: smooth;
  }
  
  @font-face {
    font-family: Fuente-p;
    src: url(/fonts/Jost-VariableFont_wght.ttf);
  }
  
  body{
    font-family: Fuente-p;
  }

  .input-group-append {
    cursor: pointer;
  }

  #modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
  }


  #modal{
    border-radius: 10px;
    border: none;
  }

  dialog{
    min-width: 102vh;
  }

  #side_nav{
    min-width: 250px;
    max-width: 250px;
  }

  .content{
    min-height: 100vh;
    width: 100%;
  }
  
  li a{
    padding: 5px;
    border-radius: 10px;
  }

  li a:hover{
    background-color: rgba(0, 4, 45, 0.107);
  }