html{
    scroll-behavior: smooth;
  }
  
  @font-face {
    font-family: Fuente-p;
    src: url(/fonts/Jost-VariableFont_wght.ttf);
  }
  
  body{
    font-family: Fuente-p !important;
  }

  #modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
  }

  #modalEdit {
    border-radius: 10px;
    border: none;
  }

  #modalEdit::backdrop{
    background-color: rgba(0, 0, 0, .55);
  }

  #modalInfo {
    border-radius: 10px;
    border: none;
  }

  #modalInfo::backdrop{
    background-color: rgba(0, 0, 0, .55);
  }

  #modalDispo {
    border-radius: 10px;
    border: none;
  }

  #modalDispo::backdrop{
    background-color: rgba(0, 0, 0, .55);
  }

  #modal{
    border-radius: 10px;
    border: none;
  }

  dialog{
    min-width: 102vh;
  }

  .content{
    min-height: 100vh;
    width: 100%;
  }

  .btn{
    transition: all ease .3s !important;
  }
  
  .btn:hover{
    transform: scale(1.05);
  
  }


  


  