.articles .box h4{
    transition: transform .2s;
}

.articles .box h4:hover{
    transform: scale(1.1);
    cursor: pointer;
}

body main{
    font-family: Fuente-p;
}


@font-face {
    font-family: Fuente-p;
    src: url(../fonts/Jost-VariableFont_wght.ttf);
  }

.group-ing{
    background-image: url('../img/grupo\ ing.webp');     
    background-size: cover;
    background-position:center;
}

.group-dis{
    background-image: url('../img/grupo\ diseño.webp');   
    background-size: cover;
    background-position:center;
}

.group-cnc{
    background-image: url('../img/cnc.webp');        
    background-size: cover;
    background-position:center;
}

.group-gnr{
    background-image: url('../img/gnr.webp');   
    background-size: cover;
    background-position:center;
}

.equis{
    transition: transform .2s;
    cursor: pointer;
  }
  
  .equis:hover{
    transform: scale(1.1);
  }