

@font-face {
  font-family: Fuente-p;
  src: url(/fonts/Jost-VariableFont_wght.ttf);
}

body{
  font-family: Fuente-p !important;
}

html{
  scroll-behavior: smooth;
  font-family: Fuente-p !important;
}

.start-page {
    position: relative;
  }
  
  .blurry-background {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(0,0,0),rgb(0,0,0,0.1));
  }
  
  .overlay-text {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
  }

#Nav.transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out;
}

#Nav.white-bg {
    background-color: white !important;
    transition: background-color 0.3s ease-in-out; 
}

#Nav.white-bg {
  background-color: white !important;
  transition: background-color 0.3s ease-in-out; 
}

#Nav.white-bg .nav-link {
    color: black !important; 
}

#Nav.white-bg .navbar-brand {
    color: rgb(0, 0, 0) !important;
}

#Nav.white-bg .reg {
  border-color: rgb(0, 0, 0) !important;
}

header .nav-item{
  font-size: 20px;
}

footer{
  background-color: rgba(8, 0, 255, 0.375);
}

.navbar-brand{
  transition: transform .2s;
}

.navbar-brand:hover{
  transform: scale(1.1);
}

header .btn{
  border-color: white;
  margin-inline: 3px;
}

header #index{
  border-color: transparent !important;
  margin-inline: 3px;
}

header .btn:hover{
  background-color: rgba(255, 255, 255, 0.3);
}



.start-page #IG{
  display: none;
}




@media (max-width: 768px) {
  .start-page h1 {
      font-size: 1.5rem;
      margin-top: 9rem;
  }

  .start-page h2{
    display: none;
  }

  .start-page #SM{
    display: none;
  }

  .start-page #IG{
    display: block;
  }
  .navbar-nav{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
  }

  .nav-link{
    color: black !important;
  }

  .reg{
    border-color: black !important;
  }

  #card_for{
    align-items: center !important;
    align-content: center !important;
    min-width: 90vw;
    min-height: 100vw !important;
  }
}
