html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: Fuente-p;
  src: url(../fonts/Jost-VariableFont_wght.ttf);
}

body{
  font-family: Fuente-p;
}

.start-page {
    position: relative;
  }
  
  .blurry-background {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(0,0,0),rgb(0,0,0,0.1));
  }
  
  .overlay-text {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
  }

#Nav.transparent {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out;
}

#Nav.white-bg {
    background-color: white !important;
    transition: background-color 0.3s ease-in-out; 
}

#Nav.white-bg .nav-link {
    color: black !important; 
}

#Nav.white-bg .navbar-brand {
    color: rgb(0, 0, 0) !important;
}

header .nav-item{
  font-size: 20px;
}

footer{
  background-color: rgb(191, 216, 175);
}

.navbar-brand{
  transition: transform .2s;
}

.navbar-brand:hover{
  transform: scale(1.1);
}

.nav-link{
  transition: transform .2s;

}

.nav-link:hover{
  transform: scale(1.1);
}

section .btn{
  transition: all ease .3s;
}

section .btn:hover{
  transform: scale(1.1);
  background: transparent;

}
