body main{
    background: linear-gradient(#ACE2E1, #fdfdfd6b);
    font-family: Fuente-p;
}

body header{
    background-color: #ACE2E1;
    font-family: Fuente-p;
}


@font-face {
    font-family: Fuente-p;
    src: url(../fonts/Jost-VariableFont_wght.ttf);
  }